source: src
destination: docs
extensions: [php]

title: Paypal

accessLevels: [public, protected]
php: Yes
tree: Yes
sourceCode: Yes
download: No

wipeout: Yes
quiet: No
progressbar: Yes
colors: Yes
updateCheck: Yes
debug: No
